<!-- Navbar -->
<div class="navbar">
  <div class="navbar__logo">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <div class="navbar__link-container desktop">
    <a routerLink="template-driven-forms" routerLinkActive="active">Template Driven Form</a>
    <a routerLink="reactive-forms">Reactive Form</a>
    <a routerLink="control-value-accessor">Control-value-accessor</a>
    <a routerLink="bonus" routerLinkActive="active">bonus</a>
  </div>

  <div class="navbar__open-menu">
    <button class="navbar__menu-button" (click)="toggleMenu()"
            [attr.aria-expanded]="menuOpen()"
            aria-controls="mobileMenu"
    >&#9776;</button>
  </div>
</div>

<!-- Menú móvil o tablet -->
@if (menuOpen()) {
  <div class="navbar-backdrop" (click)="toggleMenu()"></div>

  <div
    class="navbar-mobile"
    [ngClass]="{
      'slide-down': isMobile(),
      'slide-right': isTablet()
    }"
  >
    <div class="navbar-mobile__close-button">
      <button (click)="toggleMenu()">&#10006;</button>
    </div>
    <div class="navbar-mobile__link-container">
      <!-- Cierra el menú al hacer click -->
      <a routerLink="template-driven-forms" routerLinkActive="active" (click)="onNavigate()">
        Template Driven Form
      </a>
      <a routerLink="reactive-forms" routerLinkActive="active" (click)="onNavigate()">
        Reactive Form
      </a>
      <a routerLink="control-value-accessor" routerLinkActive="active" (click)="onNavigate()">
        Control-value-accessor
      </a>

      <a routerLink="bonus" routerLinkActive="active" (click)="onNavigate()">bonus</a>
    </div>
  </div>
}
<ng-content></ng-content>
