<form class="job-form"
      #form="ngForm"
      [ngFormOptions]="{updateOn: 'blur'}"
      autocomplete="off"
      (ngSubmit)="handleSubmit(form)">

  <h2 class="job-form__title">Job Application Form</h2>

  <!-- ========== NAME ==========
       Grupo: name -->
  <div class="job-form__group">
    <div class="job-form__group-box" ngModelGroup="name">

      <!-- First Name -->
      <div class="job-form__control">
        <label class="job-form__label" for="first">First</label>
        <input
          class="job-form__input"
          id="first"
          name="first"
          type="text"
          placeholder="First"
          [(ngModel)]="applicantForm.name.first"
          [ngModelOptions]="{name: 'first', updateOn: 'change', standalone: false}"
          #first="ngModel"
          required
          minlength="2"
        />
        @if (first.touched && first.invalid) {
<!--          <small class="job-form__helper job-form__helper&#45;&#45;error" role="alert">-->
<!--            @if (first.errors?.['required']) {-->
<!--              First name is required.-->
<!--            }-->
<!--            @if (first.errors?.['minlength']) {-->
<!--              At least 2 characters.-->
<!--            }-->
<!--          </small>-->

          <<cs-input-error
            *csShowWhenInvalid="first; form: form; let errs"
            [errors]="errs">
          </cs-input-error>

        }
      </div>

      <!-- Last Name -->
      <div class="job-form__control">
        <label class="job-form__label" for="last">Last</label>
        <input
          class="job-form__input"
          id="last"
          name="last"
          type="text"
          placeholder="Last Name"
          [(ngModel)]="applicantForm.name.last"
          #last="ngModel"
          [bannedWord]="['Doe', 'uno']"
        />
        @if (last.touched && last.invalid) {
          <small class="job-form__helper job-form__helper--error" role="alert">
<!--            @if (last.errors?.['required']) {-->
<!--              Last name is required.-->
<!--            }-->
<!--            @if (last.errors?.['minlength']) {-->
<!--              At least 2 characters.-->
<!--            }-->
<!--            @if (last.hasError('bannedWordValidator')) {-->
<!--              @let banneError = last.getError('bannedWordValidator');-->
<!--              Nombre prohibido <strong>{{ banneError.word }}</strong>-->
<!--            }-->
            <cs-input-error
              *csShowWhenInvalid="last; form: form; let errs"
              [errors]="errs">
            </cs-input-error>
          </small>
        }
      </div>

    </div>
  </div>

  <!-- ========== EMAIL ==========
       Grupo: email + confirmEmail directive -->
  <!-- ========== EMAIL (grupo email + confirmEmail) ========== -->
  <div class="job-form__group-box" ngModelGroup="email" confirmEmail #emailGroup="ngModelGroup">

    <!-- Email -->
    <div class="job-form__control">
      <div class="job-form__label-row">
        <label class="job-form__label" for="email">Email</label>
        @if (email.pending) {
          <span class="job-form__status job-form__status--success" role="status">
          Checking this email...
        </span>
        }
      </div>

      <input
        class="job-form__input"
        id="email"
        name="email"
        type="email"
        placeholder="Email"
        [(ngModel)]="applicantForm.email.email"
        #email="ngModel"
        required
        checkEmail
        email
      />

      <cs-input-error
        *csShowWhenInvalid="email; form: form; let errs"
        [errors]="errs">
      </cs-input-error>
    </div>

    <!-- Confirm Email -->
    <div class="job-form__control">
      <label class="job-form__label" for="confirm-email">Confirm Email</label>
      <input
        class="job-form__input"
        id="confirm-email"
        name="confirm-email"
        type="email"
        placeholder="confirm-email"
        [(ngModel)]="applicantForm.email.confirmEmail"
        #confirmEmailControl="ngModel"
      />

      <!-- errores del propio control -->
      <cs-input-error
        *csShowWhenInvalid="confirmEmailControl; form: form; let errs"
        [errors]="errs">
      </cs-input-error>

      <!-- error de MISMATCH del grupo -->
      <cs-input-error
        *csShowWhenInvalid="emailGroup; form: form; errorKey: 'noMatch'; let errs"
        [errors]="errs">
      </cs-input-error>
    </div>

  </div>



  <!-- ========== EMPLOYMENT STATUS (RADIOS) ========== -->
  <div class="job-form__radio-group"
       [class.job-form__radio-group--invalid]="(employmentStatus.dirty || form.submitted) && employmentStatus.invalid"
       [class.job-form__radio-group--valid]="(employmentStatus.dirty || form.submitted) && employmentStatus.valid">

    <p class="job-form__radio-legend">What is your current employment status?</p>

    <label class="job-form__radio-option">
      <input
        type="radio"
        name="employmentStatus"
        value="employed"
        [(ngModel)]="applicantForm.employmentStatus"
        #employmentStatus="ngModel"
        required
      />
      Employed
    </label>

    <label class="job-form__radio-option">
      <input
        type="radio"
        name="employmentStatus"
        value="self-employed"
        [(ngModel)]="applicantForm.employmentStatus"
        required
      />
      Self-employed
    </label>

    <label class="job-form__radio-option">
      <input
        type="radio"
        name="employmentStatus"
        value="unemployed"
        [(ngModel)]="applicantForm.employmentStatus"
        required
      />
      Unemployed
    </label>

    <label class="job-form__radio-option">
      <input
        type="radio"
        name="employmentStatus"
        value="student"
        [(ngModel)]="applicantForm.employmentStatus"
        required
      />
      Student
    </label>

<!--    @if ((employmentStatus.touched || form.submitted) && employmentStatus.invalid) {-->
<!--      <cs-input-error [errors]="employmentStatus.errors" />-->
<!--    }-->

    <cs-input-error
      *csShowWhenInvalid="employmentStatus; form: form; let errs"
      [errors]="errs">
    </cs-input-error>

  </div>

  <!-- ========== POSITION (SELECT) ========== -->
  <div class="job-form__control">
    <label class="job-form__label" for="open-positions">What position are you applying for?</label>
    <select
      class="job-form__input"
      id="open-positions"
      name="positionSelected"
      [(ngModel)]="applicantForm.positionSelected"
      #positionSelected="ngModel"
      required
    >
      <option value="" disabled>Select an option</option>
      @for (p of positions; track p) {
        <option [value]="p">{{ p }}</option>
      }
    </select>
<!--    @if (positionSelected.touched && positionSelected.invalid) {-->
<!--      <small class="job-form__helper job-form__helper&#45;&#45;error" role="alert">-->
<!--        Please select a position.-->
<!--      </small>-->
<!--    }-->
    @if (positionSelected.touched && positionSelected.invalid) {
      <cs-input-error [errors]="positionSelected.errors" />
    }
  </div>

  <!-- ========== RESUME LINK ========== -->
  <div class="job-form__control">
    <label class="job-form__label" for="resume-link">Please provide your resume link</label>
    <input
      class="job-form__input"
      id="resume-link"
      name="resumeLink"
      type="url"
      placeholder="https://www.example.com"
      [(ngModel)]="applicantForm.resumeLink"
      #resumeLink="ngModel"
      required
      pattern="https?://.+"
    />
<!--    @if (resumeLink.touched && resumeLink.invalid) {-->
<!--      <small class="job-form__helper job-form__helper&#45;&#45;error" role="alert">-->
<!--        @if (resumeLink.errors?.['required']) {-->
<!--          Resume link is required.-->
<!--        }-->
<!--        @if (resumeLink.errors?.['pattern']) {-->
<!--          Enter a valid URL (starts with http/https).-->
<!--        }-->
<!--      </small>-->
<!--    }-->
    @if (resumeLink.touched && resumeLink.invalid) {
      <cs-input-error [errors]="resumeLink.errors" />
    }
  </div>

  <!-- ========== VERIFY ACCOUNT (RADIOS) ========== -->
  <div class="job-form__radio-group">
    <p class="job-form__radio-legend">Verify Account with:</p>

    <label class="job-form__radio-option" for="verify-email">
      <input
        type="radio"
        name="verify-account"
        id="verify-email"
        [(ngModel)]="verifyAccountWith"
        (ngModelChange)="handlePhoneNumber()"
        [ngModelOptions]="{standalone: true }"
        value="email"
      />
      Email
    </label>

    <label class="job-form__radio-option" for="verify-phone-number">
      <input
        type="radio"
        name="verify-account"
        id="verify-phone-number"
        [(ngModel)]="verifyAccountWith"
        (ngModelChange)="handlePhoneNumber()"
        [ngModelOptions]="{standalone: true }"
        value="phone number"
      />
      Phone number
    </label>
  </div>

  <!-- Phone number (condicional) -->
  @if (verifyAccountWith === 'phone number') {
    <div class="job-form__control">
      <label class="job-form__label" for="phone-number">Phone number</label>
      <input
        class="job-form__input"
        type="text"
        id="phone-number"
        name="phone-number"
        placeholder="phone-number"
        [(ngModel)]="applicantForm.phoneNumber"
        minlength="4"
        pattern="^\d*$"
        #phoneNumber="ngModel"
      />
<!--      @if (phoneNumber.touched && phoneNumber.invalid) {-->
<!--        <small class="job-form__helper job-form__helper&#45;&#45;error" role="alert">-->
<!--          @if (phoneNumber.errors?.['required']) {-->
<!--            This field is required.-->
<!--          }-->
<!--          @if (phoneNumber.errors?.['pattern']) {-->
<!--            This field only accepts numbers.-->
<!--          }-->
<!--          @if (phoneNumber.hasError('minlength')) {-->
<!--            @let minlength = phoneNumber.getError('minlength');-->
<!--            The required length for this field is <strong>{{ minlength }}</strong>-->
<!--          }-->
<!--        </small>-->
<!--      }-->
      @if (phoneNumber.touched && phoneNumber.invalid) {
        <cs-input-error [errors]="phoneNumber.errors"/>
      }
    </div>
  }

  <!-- ========== ACTIONS ========== -->
  <div class="job-form__actions">
    <button type="button" class="job-form__btn" (click)="onReset(form)">Reset</button>
    <button type="submit" class="job-form__btn" [disabled]="form.invalid">Submit</button>
  </div>
</form>
